*{
  margin: 0;
  padding: 0;
  font-family: arial;
}
body{
  height: auto;
}
.wrapper{
  width: 100%;
  display: flex;
  flex-flow: row;
}
.menu{
  width: 25%;
  height: 790px;
  text-align: center;
  transition: width 2s;
}
#pertama{
  background-image: url('img_belajar/workspace3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu:hover{
  width: 100%;
}
.menu a{
  width: 35%;
  display: block;
  margin: 0 auto;
  margin-top: 24%;
  text-decoration: none;
  color:black;
  padding: 10px;
  font-size: 1.2em;
}
.menu #link-bio:hover{
  background-color: black;
  color: white;;
  width: 10%;
  border:1px solid black;
}
.menu #link-skills:hover{
  background-color: black;
  color: white;;
  width: 10%;
  border:1px solid black;
}
.menu #link-achieve:hover{
  background-color: black;
  color: white;;
  width: 13%;
  border:1px solid black;
}
.menu #link-another:hover{
  background-color: black;
  color: white;;
  width: 10%;
  border:1px solid black;
}
#kedua{
  background-image: url('img_belajar/wokrspace2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#ketiga{
  background-image: url('img_belajar/aku.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#keempat{
  background-image: url('img_belajar/workspace5.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
